.navigator {
  text-align: center;
  margin: 20px;
  margin-bottom: 0;
  width: 95%;
  background-image: linear-gradient(10deg, #5ee7df 0%, #b490ca 100%);
  padding: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
}

.navigator h1 {
  font-size: 34px;
  margin-bottom: 20px;
  color: blue;
}

.navigator a {
  text-decoration: none;
}
.card-navigate {
  width: 300px;
  height: 200px;
  background-color: antiquewhite;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.card-navigate h3 {
  padding: 10px 5px;
  border-top: 2px solid rgb(97, 94, 94);
  border-bottom: 2px solid rgb(97, 94, 94);
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  font-size: 25px;
  color: white;
  background-color: #00000080;
}

hr {
  height: 5px;
  color: white;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}
