.contactus {
  margin-top: 100px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.finder {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.main-finder h1 {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 20px;
  color: rgb(8, 15, 99);
  border-radius: 10px;
  padding: 5px 50px;
}

.main-finder {
  text-align: center;
}

.finder hr {
  width: 100%;
  margin: 20px 0;
  height: 2px !important;
}

.sub-finder {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-finder div {
  text-align: center;
}

.feedback-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
  width: 700px;
  height: 400px;
  background-color: rgb(160, 206, 206);
  flex-direction: column;
}

.feedback-banner input {
  height: 50px;
  width: 400px;
}
