/* ContactUs.css */

.contactus {
  position: relative;
  margin-top: 70px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: transparent;
}

.contactus::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../../Components/Assets/addBanner.jpg");
  background-size: cover;
  opacity: 0.3; /* Adjust the opacity as per your requirement */
}

a {
  text-decoration: none;
  color: rgb(54, 4, 4);
}

hr {
  width: 100%;
  border: 2px solid rgb(0, 0, 0);
}

.mainDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.sub span {
  font-size: 14px;
  font-weight: bold;
  margin-right: 20px;
  text-align: left;
}

.feedback-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
  width: 700px;
  height: 400px;
  background-color: rgb(160, 206, 206);
  flex-direction: column;
}

.feedback-banner input {
  height: 50px;
  width: 400px;
}
