.dropdown-menu {
  position: absolute;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 190vh;
  left: 40px;
  right: 0;
  top: 90px;
  list-style: none;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  z-index: 999;

  background-color: rgba(0, 0, 0, 0.6); /* Black color with 70% transparency */
}

.dropdown-menu li {
  cursor: pointer;
  border-radius: 10px;
  padding-bottom: 10px;
}

.dropdown-menu li a {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  background: transparent;
  font-size: 16px;
  font-weight: bold;
  border-radius: 15px;
}

.dropdown-menu li a:hover {
  background: #bad3df;
  color: black;
}

.dropdown-menu.clicked {
  display: none;
}
