/* Banner.css */
.banner {
  margin: 0;
  padding: 0;
  position: relative;
  height: 90vh;
  display: flex;
  align-items: center;
}

.banner__image {
  width: 100%;
  object-fit: cover;
}

.banner__image img {
  width: 100%;
  object-fit: cover;
}

.banner__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.banner__content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.banner__content p {
  font-size: 1.5rem;
}
