hr {
  width: 80%;
  height: 3px;
  background-color: #dedee5;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.schoolbooks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.schoolbooks h1 {
  font-size: 50px;
  font-weight: bold;
  color: rgb(15, 9, 88);
}

.schoolbooks h3 {
  color: #0659b2;
}

.search-box button {
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* Add custom styles for the select dropdown and its options */
select {
  width: 300px;
  height: 50px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px; /* Add border-radius to round the corners */
  background-color: #dedee5; /* Set background color */
  color: #333; /* Set text color */
  font-size: 18px;
  border: none;
  font-weight: bold;
}

select:focus {
  outline: none; /* Remove the default focus outline */
  border-color: #007bff; /* Change border color on focus */
}

option {
  padding: 10px;
  background-color: #fff; /* Set background color for options */
  color: #333; /* Set text color for options */
  font-size: 17px;
}

option:hover {
  background-color: #007bff; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
  line-height: 2;
}

/* ================================================================================================================== */

.book-details,
.options {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 200px;
}

.bookImage {
  width: 300px;
}

.bookImage img {
  width: 300px;
  border-radius: 10px;
}

.bookContent h2 {
  font-size: 60px;
  font-style: italic;
  color: #101073;
}

.bookContent p {
  font-size: 20px;
  padding-left: 20px;
  color: black;
}

.bookContent span {
  margin-right: 10px;
}

.options {
  gap: 300px;
  margin-bottom: 40px;
}

.options a {
  padding: 10px 20px;
  font-size: 20px;
  text-decoration: none;
  background-color: #660b0b;
  border-radius: 10px;
  color: #fff;
  align-items: center;
}

.options a:hover {
  opacity: 0.9;
}
