.transaction {
  max-width: 400px;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-top: 150px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.transaction input,
.transaction select {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.transaction button {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.transaction button:hover {
  background-color: #45a049;
}
